.diamond {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    margin: 5rem;
    position: absolute;
    /* border-radius: 50%; */
  
    /* Create the diamond shape */
     transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    display: flex;
    flex-direction:row;
    flex-wrap: wrap; 
  }

  .link1{
    background-color: red;
    width: 30%;
    height: 100%;
   
  }
  .link2{
    background-color: green;
    width: 30%;
    height: 100%;
    /* transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg); */
    /* position: absolute;
    left: 0; */
  }
  .link3{
    background-color: yellow;
    width: 100%;
    height: 20%;
    /* transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg); */
   
  }
  .link4{
    background-color: blue;
    width: 100%;
    height: 20%;
  }
  .row1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .row2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    margin-bottom:200px ;
  }
  .aa{
    z-index: 10;
  }
  .align{
    display: flex;
    width: 100%;
    height: 100%;
  }

  .lin1{
    background-color: #dc7c3c;
    width: 100%;
    height: 15%;
    position: absolute;
    top: 85%;
    z-index: 3;
    opacity: 80%;
  }
  .lin2{
    background-color: #cfbd8f;
    width: 15%;
    height: 100%;
    position: absolute;
    left: 85%;
    z-index: 3;
    opacity: 80%;
  }
  .lin3{
    background-color: #3691e5;
    width: 15%;
    height: 100%;
    position: absolute;
    z-index: 3;
    opacity: 80%;
  }
  .lin4{
    background-color: rgb(204, 102, 204);
    width: 100%;
    height: 15%;
    position: absolute;
    opacity: 80%;
  }
  .cc{
    color: rgb(0, 0, 0);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    margin:0.75rem;
    padding-top: 6rem;
    padding-left: 1rem;

  }
  .spann{
    color: red;
  }
  